/* основний колір тексту #212121 */
/* вторинний колір тексту #757575 */
/* акцент  #2196F3 */
/*білий колір тексту  #FFFFFF */









body {
    color: #212121;
}

.logo{
    color: #2196F3;
}
.logo .logo-text{
   color: #000000;
}

